* {
  transition: all 0.2s ease-in-out;
}

body {
  background-color: #013220; /* Dark Green */
  background-size: cover;
  background-position: center;
  font-family: Courier New, Monospace;
  color: #FFD700; /* Golden Text */
  margin: 0;
  padding: 0;
  text-align: center;
}

.light-mode {
  background-color: #D2EAF3;
  color: black;
}

.typing::after {
  content: "|";
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.character-img {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 150px;
  max-width: 20%;
  opacity: 0.9;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Hover effect */
.character-img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.light-mode .character-img {
  opacity: 1;
}

/* Contact Section */
#contact {
    text-align: center;
    padding: 40px 20px;
    background: rgba(128, 0, 128, 0.1); /* Violet Background */
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #FFD700; /* Golden Text */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #4B0082; /* Violet Border */
    border-radius: 5px;
    background-color: #013220; /* Dark Green Input Background */
    color: #FFD700; /* Golden Text */
}

input::placeholder, textarea::placeholder {
    color: #FFD700; /* Golden Placeholder Text */
}

/* Light Mode Adjustments */
.light-mode #contact {
  background-color: #FFD700; /* Golden for Light Mode */
  color: #013220; /* Dark Green Text */
}

.light-mode input, .light-mode textarea {
  background-color: #FFD700; /* Golden Input Background */
  border-color: #4B0082; /* Violet Border */
  color: #013220; /* Dark Green Text */
}
